   body {
      min-height: 270px;
      line-height: 17px;
   }
   a {
      padding: 15px 35px;
      margin: 15px;
   }
   .container {
      display: flex;
      flex-direction: column;
   }
   .row
   {
      display: flex;
   }
   input {
      height: 50px;
      width: 160px;
   }
   .ad
   {
      display: flex;
      flex-direction: column;
   }
   .announcement
   {
      display: flex;
      flex-direction: column;
   }
   .Stock
   {
      display: flex;
      flex-direction: column;
   }
   .center
   {
   justify-content: center;
   display: flex;
   }
