     body {
      min-height: 270px;
      line-height: 17px;
   }
   a {
      padding: 15px 35px;
   }
   .container {
      display: flex;
      flex-direction: column;
      line-height: 15px;
      margin-right: 5px;  
      margin: auto;
   }
   .row
   {
      display: flex;
   }
   input {
      height: 36px;
      width: 215px;
   }
   .ad
   {
      justify-content: space-between;
      display: flex;
   }
   .announcement
   {
      display: flex;
      flex-direction: column;
   }
   .Stock
   {
      display: flex;
      flex-direction: column;
   }
   .center
   {
      justify-content: center;
      display: flex;
   }
   .products
   {
      justify-content: space-between;
      display: flex;
      margin-bottom: 8rem;
   }
   .row2
   {
      display: flex;
   }
   .row3
   {
      display: flex;
      line-height: 10.px;
      padding: 10px;
   }
   .blue {
      background: #254dce;
      background-size: 10px 20px;
   }
